:root {
  // Base colors
  --white: #ffffff;
  --light: #c7c7c7;
  --dark: #4b4b4b;
  --black: #000000;
  --scale-1: #f6f6f6;
  --scale-2: #dedede;
  --scale-3: #bbbbbb;
  --scale-4: #7f7f7f;
  --scale-5: #5a5a5a;
  --scale-6: #3b3b3b;
  --scale-7: #212121;

  // Semantic colors
  --primary: #daa520;
  --secondary: #455a64;
  --info: #1976d2;
  --success: #388e3c;
  --error: #d32f2f;

  // Spacing
  --space-0: 0rem;
  --space-1: 0.45rem;
  --space-2: 0.9rem;
  --space-3: 1.25rem;
  --space-4: 2rem;
  --space-5: 3.5rem;
  --space-6: 5rem;
  --space-7: 7rem;
  --space-8: 9rem;

  // Components
  --navigation: 1100;
  --drawer: 1200;
  --modal: 1300;
  --snackbar: 1400;
  --tooltip: 1500;
}

html[data-theme='light'] {
  --text-primary: var(--scale-7);
  --text-secondary: var(--scale-4);
  --text-disabled: var(--scale-3);
  --text-inverted: var(--scale-2);
  --background-main: var(--white);
  --background-sheet: var(--scale-1);
  --background-border: var(--scale-2);
}

html[data-theme='dark'] {
  --text-primary: var(--scale-1);
  --text-secondary: var(--scale-4);
  --text-disabled: var(--scale-5);
  --text-inverted: var(--scale-6);
  --background-main: var(--black);
  --background-sheet: var(--scale-7);
  --background-border: var(--scale-6);
}

html[data-theme='system'] {
  @media (prefers-color-scheme: light) {
    --text-primary: var(--scale-7);
    --text-secondary: var(--scale-4);
    --text-disabled: var(--scale-3);
    --text-inverted: var(--scale-2);
    --background-main: var(--white);
    --background-sheet: var(--scale-1);
    --background-border: var(--scale-2);
  }

  @media (prefers-color-scheme: dark) {
    --text-primary: var(--scale-1);
    --text-secondary: var(--scale-4);
    --text-disabled: var(--scale-5);
    --text-inverted: var(--scale-6);
    --background-main: var(--black);
    --background-sheet: var(--scale-7);
    --background-border: var(--scale-6);
  }
}
