dialog {
  position: fixed;
  top: 18%;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: var(--drawer);
  opacity: 0;
  transform: translateY(200%);
  background-color: var(--background-sheet);
  border-radius: 20px 20px 0 0;
  transition: all 0.7s allow-discrete;
  border: 0;

  &::backdrop {
    opacity: 0;
    background-color: transparent;
    transition: all 0.7s allow-discrete;
  }

  &:open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;

    @starting-style {
      opacity: 0;
      transform: translateY(200%);
    }

    &::backdrop {
      opacity: 1;
      background-color: color-mix(in srgb, var(--background-sheet) 70%, transparent 70%);
      backdrop-filter: saturate(20%) blur(10px);

      @starting-style {
        opacity: 0;
        background-color: transparent;
      }
    }
  }
}
