html {
  font-family: Barlow, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background: var(--background-main);
  color: var(--text-secondary);
  scroll-behavior: smooth;
  scroll-padding-top: var(--navigation-height);

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

main {
  padding-top: var(--navigation-height);
}

section {
  --content-width: min(100%, 970px);

  display: flex;
  justify-content: center;
  min-height: 100vh;

  & > div {
    width: var(--content-width);
    padding-top: var(--space-5);
    padding-bottom: var(--space-5);
  }
}

p {
  font-size: clamp(1.1rem, 1.24vw, 1.26rem);
  line-height: clamp(1.55rem, 1.9vw, 1.85rem);
  margin-bottom: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.02rem;

  &.overline {
    max-width: 52ch;
    margin-bottom: var(--space-6);
  }
}

h1 {
  font-size: clamp(1.4rem, 6.5vw, 3.2rem);
  line-height: clamp(1.8rem, 6.7vw, 3.4rem);
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--text-primary);
  letter-spacing: 0.02rem;
  white-space: nowrap;

  span {
    display: block;
  }
}

h2 {
  display: block;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  line-height: clamp(1.4rem, 1.5vw, 1.6rem);
  font-weight: 600;
  color: var(--text-primary);
  text-transform: uppercase;
  margin-bottom: var(--space-3);
  letter-spacing: 1px;
  letter-spacing: 0.02rem;
}

.container {
  --width: calc(100% - 40px);
  --max-width: 1200px;

  display: block;
  margin: 0 auto;
  width: var(--width);
  max-width: var(--max-width);
}
