footer {
  display: block;
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, 1.14vw, 1.16rem);
  line-height: clamp(1.45rem, 1.8vw, 1.75rem);
  padding: var(--space-4) 0;

  // This avoids breaking sections heights.
  margin-top: calc(var(--space-6) * -1);
}
